<section class="users">
  <h2>DETALHE DO USUÁRIO <%= id %></h2>
  <article class="user">
    <img src="<%= users[id].avatar %>" />
    <h3>#<%= users[id].id %> | <%= users[id].nome %> <%= users[id].sobrenome %></h3>
  </article>
</section>